:root{
  background-color: thistle;
}


.big{
  text-align: center;
}

.audio-control{
  height: 150px;
}


.test{
  color: blue;
}

.zing{
  font-style: italic;
  color: red;
}

.passion{
  color: green;
}